.idea
# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/application.properties
/dataSources/
/dataSources.local.xml
*/target/
*/.classpath
*/.project
*/.settings
*.iml
*/.factorypath
/.settings/
/memory-guard-core/src/main/resources/application.properties
/catch-the-moment.log
/memory-guard-core/src/main/resources/
/memory-guard-core/src/test/resources/
